body {
  background-color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: blue;
  font-style: bold;
}

p {
  font-size: .9em;
  font-weight: normal;
  margin-left: 100px;
  margin-right: 100px;
}

ul, li {
  font-size: 0.89em;
  font-weight: normal;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
}

.blue {
  color: blue;
}
